@font-face {
    font-family: "fa";
    src: url(fontawesome-webfont.woff2);
}

@font-face {
    font-family: "Open Sans";
    src: url(open-sans.woff2);
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0; padding: 0;
    /*text-shadow: .1rem .1rem .1rem rgba(64, 64, 64, .2);*/
    cursor: default;
}

body {
    padding: 2rem;
    background-image: url('img/bg.jpg');
}

h1 {
    margin: 1rem;
    font-size: 2rem;
}
h2, h2 * {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
a, a img {
  cursor: pointer;
  color: #00f;
}
p {
    line-height: 1.6rem;
}

pre { font-family: 'Roboto Mono'; }

img.pp {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    width: 8rem;
}
imgbox {
    position: relative;
}
imgbox.pp::before {
    content: "";
    display: block;
    position: absolute;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    z-index: -1;
    background: #000;
    width: 8.25rem;
    height: 8.25rem;
    left: -.1rem;
    top: -.1rem;
}
imgbox.pp::after {
    content: "";
    display: block;
    position: absolute;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    z-index: -1;
    background: rgba(0, 0, 0, .2);
    width: 8.25rem;
    height: 8.25rem;
    left: .1rem;
    top: .1rem;
}

header {
    text-align: center;
}
header * {
    display: inline-block;
    vertical-align: middle;
}
header p {
    padding: .5rem;
}
charms .fa {
    padding: 0rem .4rem;
}

portfolio {
    display: block;
    text-align: center;
}

article {
    display: inline-block;
    max-width: 32rem;
    margin: 1rem;
    padding: 1rem;
    vertical-align: top;
    text-align: left;
    background-color: #fff;
    /*background-color: rgba(64, 64, 64, .8);
    color: #eee;*/
    box-shadow: .2rem .2rem .1rem rgba(0, 0, 0, .2);
}
half {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    padding: 0 .5rem 0 0;
}

article iframe, article img, article video {
    width: 100%;
    margin: 1rem auto 0rem auto;
    display: block;
    max-height: 20rem;
    border: none;
}
article iframe {
    min-height: 16rem;
    width: 100%;
}
article img {
  border: .1rem solid #000;
}
article img.fit {
    object-fit: contain;
}
article img.cover {
    object-fit: cover;
    object-position: 0 0;
}

article h2 .fa {
    float: right;
    padding: 0;
    font-weight: normal;
}

article.android  { border-left: .5rem solid rgba(48, 48, 195); }
article.arduino  { border-left: .5rem solid rgb(48, 156, 164); }
article.SFML     { border-left: .5rem solid #ee0; }
article.terminal { border-left: .5rem solid #000; }
article.HTML     { border-left: .5rem solid rgb(195, 127, 0); }
article.Csharp   { border-left: .5rem solid #0c0; }

contributions p {
  display: inline-block;
  padding: .5rem;
  background-color: #fffa;
  border: .1rem solid #000;
  margin: .5rem;
}

@media screen and (max-width: 60rem) {
    body {
        padding: 1rem 5vw;
    }
    article {
        margin: .5rem 0rem;
        padding: .5rem;
    }
    half {
        display: block;
        width: 100%;
    }
    article iframe, article img {
        height: 10rem;
        max-width: 20rem;
    }
}




/*Font Awesome font styles*/
.fa {
    font-family: 'fa';
    text-decoration: none;
    font-size: 2rem;
    color: #000a;
    padding: .5rem;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
}
.fa:hover {
    color: #000;
}
.fa.email:before { content: '\f0e0'; }
.fa.twitter:before { content: '\f099'; }
.fa.youtube:before { content: '\f16a'; }
.fa.telegram:before { content: '\f2c6'; }
.fa.github:before { content: '\f113'; }
.fa.github2:before { content: "\f1d3"; }
.fa.linkedin:before { content: "\f08c"; }
.fa.cv:before { content: "\f2c2"; }
